
<section class="max-w-7xl mx-auto">

<div class="flex justify-center mb-6">
  <div
    class="flex items-center px-4 w-fit justify-center py-2 rounded-full shadow-md z-50"
  >
    <img [src]="signIcon" alt="location Icon" class="w-5 h-5 mr-2" />
    <p class="text-gray-800">Signature</p>
  </div>
</div>
<div class="text-center flex-col flex justify-center items-center">
  <h1 class="text-5xl font-bold text-center max-w-xl mb-4">
    e. Contract to be completed and signed
  </h1>

  <!-- Subtitle -->
  <p class="text-center text-gray-600 mb-12 max-w-2xl">
    Smart Contracts and Tokenized Real Estate: Smart contracts are selfexecuting
    contracts with the terms of the agreement directly written into code. When
    applied to tokenized real estate, they automate various aspects of the
    investment process, making it more efficient and transparent.
  </p>
</div>

<div class="flex flex-col gap-16">



  <!-- Property Tokenization Section -->


  <div class="flex flex-col md:flex-row gap-12 items-center w-full">

    <!-- Content -->
    <img [src]="projectImg2" alt="projectImg1" class=" w-full md:w-1/2 object-contain h-auto md:h-[400px]">
    <div class="space-y-6">
      <div class="flex items-start flex-col gap-2 mb-4">

          <div
            class="flex items-center px-4 w-fit justify-center py-2 mb-3 rounded-full bg-white shadow-md z-50"
          >
            <img [src]="ivestmentIcon3" alt="location Icon" class="w-5 h-5 mr-2" />
            <p class="text-gray-800">Steps</p>
          </div>
        <h1 class="text-xl font-semibold">1. Process:</h1>
      </div>

      <div class="space-y-4">
        <!-- Token Creation -->
        <div>
          <h1 class="text-gray-800 font-semibold"><strong>a. Token Creation:</strong></h1>
          <div>
            <p class="text-gray-800">i. Smart contracts are used to create and issue security tokens representing fractional ownership of a real estate asset.</p>
          </div>
          <div>
            <p class="text-gray-800">ii. These tokens are stored on a blockchain, providing a transparent and immutable record of ownership.</p>
          </div>
        </div>

        <!-- Token Sale -->
        <div>
          <h1 class="text-gray-800 font-semibold"><strong>b. Token Sale:</strong></h1>
          <div>
            <p class="text-gray-800">i. Smart contracts automate token sale processes, including investor verification, allocation, and distribution of funds.</p>
          </div>
          <div>
            <p class="text-gray-800">ii. They ensure that tokens are distributed to investors based on their contributions and that funds are securely transferred to the project developer.</p>
          </div>
        </div>

        <!-- Property Management -->
        <div>
          <h1 class="text-gray-800 font-semibold"><strong>c. Property Management:</strong></h1>
          <div>
            <p class="text-gray-800">i. Smart contracts can automate property management tasks, such as rent collection, maintenance expenses, and property tax payments.</p>
          </div>
          <div>
            <p class="text-gray-800">ii. They can also trigger automatic payouts to token holders based on the property's performance.</p>
          </div>
        </div>

        <!-- Dividend Distribution -->
        <div>
          <h1 class="text-gray-800 font-semibold"><strong>d. Dividend Distribution:</strong></h1>
          <div>
            <p class="text-gray-800">i. Smart contracts can automatically calculate and distribute dividends to token holders based on their ownership percentage.</p>
          </div>
          <div>
            <p class="text-gray-800">ii. This ensures timely and accurate payments to all investors.</p>
          </div>
        </div>

        <!-- Property Sale -->
        <div>
          <h1 class="text-gray-800 font-semibold"><strong>e. Property Sale:</strong></h1>
          <div>
            <p class="text-gray-800">i. If the property is sold, smart contracts can automate the sale process, including the calculation of proceeds and the distribution of funds to token holders.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="flex flex-col-reverse md:flex-row  gap-12 items-center w-full">
    <!-- Image placeholder -->


    <div class="space-y-6 max-md:text-center">

      <div class="flex items-start flex-col gap-2 mb-4">
        <div
            class="flex items-center px-4 w-fit justify-center py-2 mb-3 rounded-full shadow-md bg-white z-50"
          >
            <img [src]="ivestmentIcon4" alt="location Icon" class="w-5 h-5 mr-2" />
            <p class="text-gray-800">Process</p>
          </div>
          <div class="flex items-center gap-2 mb-4">
            <h1 class="text-xl font-semibold">b. Here's how it works:</h1>
          </div>
        </div>

      <div class="space-y-4">
        <!-- Step 1 -->
        <div>
          <p class="text-gray-800">i. <strong>Property Pooling:</strong> A group of commercial properties is pooled together.</p>
        </div>

        <div>
          <p class="text-gray-800">ii. <strong>Tokenization:</strong> The pooled properties are divided into fractional shares, each represented by a security token.</p>
        </div>

        <div>
          <p class="text-gray-800">iii. <strong>Token Sale:</strong> These tokens are sold to investors through an STO, raising capital for the investment fund.</p>
        </div>

        <div>
          <p class="text-gray-800">iv. <strong>Investment and Management:</strong> The funds raised from the token sale will be used to acquire and manage commercial properties.</p>
        </div>

        <div>
          <p class="text-gray-800">v. <strong>Income Distribution:</strong> Property income generated, such as rental income and capital appreciation, is distributed to token holders based on their ownership percentage.</p>
        </div>

      </div>
    </div>
    <img [src]="projectImg1" alt="projectImg1" class=" w-full md:w-1/2 object-contain h-auto md:h-[400px]">

  </div>

  <div class="flex flex-col md:flex-row gap-12 items-center w-full">

    <!-- Content -->
    <img [src]="projectImg3" alt="projectImg1" class=" w-full md:w-1/2 object-contain h-auto md:h-[400px]">
    <div class="space-y-6">
      <div class="flex items-start flex-col gap-2 mb-4">

          <div
            class="flex items-center px-4 w-fit justify-center py-2 mb-3 rounded-full bg-white shadow-md z-50"
          >
            <img [src]="ivestmentIcon5" alt="location Icon" class="w-5 h-5 mr-2" />
            <p class="text-gray-800">Benifits</p>
          </div>
        <h1 class="text-xl font-semibold">c. Benefits of Investing in Tokenized Real Estate:</h1>
      </div>

      <div class="space-y-4">
        <div>
          <p class="text-gray-800">i. <strong>Fractional Ownership:</strong> Investors can access high-value commercial real estate with smaller investments.</p>
        </div>

        <div>
          <p class="text-gray-800">ii. <strong>Increased Liquidity:</strong> Tokens can be traded on secondary markets, offering more liquidity than traditional real estate investments.</p>
        </div>

        <div>
          <p class="text-gray-800">iii. <strong>Transparency:</strong> Blockchain technology ensures ownership, transactions, and revenue distribution transparency.</p>
        </div>

        <div>
          <p class="text-gray-800">iv. <strong>Reduced Transaction Costs:</strong> Smart contracts automate many processes, reducing administrative costs.</p>
        </div>

        <div>
          <p class="text-gray-800">v. <strong>Diversification:</strong> Investing in a pool of properties can diversify risk.</p>
        </div>

        <div>
          <p class="text-gray-800">vi. <strong>Professional Management:</strong> Experienced real estate professionals manage the properties.</p>
        </div>

        <div>
          <p class="text-gray-800">vii. <strong>Economic Potential:</strong> By tokenizing commercial real estate, investors can gain exposure to various properties and potentially earn returns from rental income and property appreciation.</p>
        </div>


      </div>
    </div>
  </div>

</div>
</section>
