<section class="max-w-7xl mx-auto px-4">


  <div class="flex justify-center mb-6">
    <div class="flex items-center px-4 w-fit justify-center py-2 rounded-full shadow-md z-50">
      <img [src]="signIcon" alt="location Icon" class="w-5 h-5 mr-2" />
      <p class="text-gray-800">Signature</p>
    </div>
  </div>
  <div class="text-center flex-col flex justify-center items-center">
    <h2 class="text-5xl font-bold text-center max-w-xl mb-4">
      e. Contract to be completed and signed
    </h2>

    <!-- Subtitle -->
    <p class="text-center text-gray-600 mb-12 max-w-2xl">
      Smart Contracts and Tokenized Real Estate: Smart contracts are selfexecuting
      contracts with the terms of the agreement directly written into code. When
      applied to tokenized real estate, they automate various aspects of the
      investment process, making it more efficient and transparent.
    </p>
  </div>

  <div class="flex flex-col gap-16 justify-center items-center">



    <!-- Property Tokenization Section -->


    <div class="flex flex-col md:flex-row gap-12 max-w-5xl items-center w-full">

      <!-- Content -->
      <img [src]="projectImg1" alt="projectImg1" class=" w-full md:w-1/2 shadow-2xl object-contain h-fit md:h-[600px] rounded-md">
      <div class="space-y-6">
        <div class="flex items-start flex-col gap-2 mb-4">

          <div class="flex items-center px-4 w-fit justify-center py-2 mb-3 rounded-full bg-white shadow-md z-50">
            <img [src]="ivestmentIcon3" alt="location Icon" class="w-5 h-5 mr-2" />
            <p class="text-gray-800">Steps</p>
          </div>
          <h2 class="text-2xl max-md:text-2xl font-semibold">1. Process:</h2>
        </div>

        <div class="space-y-4">
          <!-- Token Creation -->
          <div>
            <h2 class="text-gray-800 font-semibold"><strong>a. Token Creation:</strong></h2>
            <div>
              <p class="text-gray-800">i. Smart contracts are used to create and issue security tokens representing
                fractional ownership of a real estate asset.</p><br>
            </div>
            <div>
              <p class="text-gray-800">ii. These tokens are stored on a blockchain, providing a transparent and
                immutable record of ownership.</p>
            </div>
          </div>

          <!-- Token Sale -->
          <div>
            <h2 class="text-gray-800 font-semibold"><strong>b. Token Sale:</strong></h2>
            <div>
              <p class="text-gray-800">i. Smart contracts automate token sale processes, including investor
                verification, allocation, and distribution of funds.</p><br>
            </div>
            <div>
              <p class="text-gray-800">ii. They ensure that tokens are distributed to investors based on their
                contributions and that funds are securely transferred to the project developer.</p>
            </div>
          </div>

          <!-- Property Management -->
          <div>
            <h2 class="text-gray-800 font-semibold"><strong>c. Property Management:</strong></h2>
            <div>
              <p class="text-gray-800">i. Smart contracts can automate property management tasks, such as rent
                collection, maintenance expenses, and property tax payments.</p><br>
            </div>
            <div>
              <p class="text-gray-800">ii. They can also trigger automatic payouts to token holders based on the
                property's performance.</p>
            </div>
          </div>

          <!-- Dividend Distribution -->
          <div>
            <h2 class="text-gray-800 font-semibold"><strong>d. Dividend Distribution:</strong></h2>
            <div>
              <p class="text-gray-800">i. Smart contracts can automatically calculate and distribute dividends to token
                holders based on their ownership percentage.</p><br>
            </div>
            <div>
              <p class="text-gray-800">ii. This ensures timely and accurate payments to all investors.</p>
            </div>
          </div>

          <!-- Property Sale -->
          <div>
            <h2 class="text-gray-800 font-semibold"><strong>e. Property Sale:</strong></h2>
            <div>
              <p class="text-gray-800">i. If the property is sold, smart contracts can automate the sale process,
                including the calculation of proceeds and the distribution of funds to token holders.</p>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="flex flex-col-reverse md:flex-row  gap-12 max-w-5xl items-center w-full">
      <!-- Image placeholder -->


      <div class="space-y-6 max-md:text-center">

        <div class="flex items-start flex-col gap-2 mb-4">
          <div class="flex items-center px-4 w-fit justify-center py-2 mb-3 rounded-full shadow-md bg-white z-50">
            <img [src]="ivestmentIcon4" alt="location Icon" class="w-5 h-5 mr-2" />
            <p class="text-gray-800">Benifits</p>
          </div>
          <div class="flex items-center gap-2 mb-4">
            <h2 class="text-2xl max-md:text-2xl font-semibold">2. Benefits of Using Smart Contracts:</h2>
          </div>
        </div>

        <div class="space-y-4">
          <!-- Transparency -->
          <div>
            <p class="text-gray-800"><strong>a. Transparency:</strong> All transactions and ownership records are
              transparent and verifiable on the blockchain.</p>
          </div>

          <!-- Efficiency -->
          <div>
            <p class="text-gray-800"><strong>b. Efficiency:</strong> Automation reduces administrative costs and speeds
              up processes.</p>
          </div>

          <!-- Security -->
          <div>
            <p class="text-gray-800"><strong>c. Security:</strong> Smart contracts are secure and tamper-proof, ensuring
              the integrity of the investment.</p>
          </div>

          <!-- Reduced Fraud Risk -->
          <div>
            <p class="text-gray-800"><strong>d. Reduced Fraud Risk:</strong> The immutability of blockchain technology
              minimizes the risk of fraud.</p>
          </div>

          <!-- Programmability -->
          <div>
            <p class="text-gray-800"><strong>e. Programmability:</strong> Smart contracts can be programmed to execute
              complex rules and conditions, providing flexibility and customization.</p>
          </div>


        </div>

      </div>
      <img [src]="projectImg2" alt="projectImg1" class=" w-full shadow-2xl md:w-1/2 object-contain h-auto md:h-[500px] rounded-md">

    </div>

    <div class="flex flex-col md:flex-row gap-12 max-w-5xl items-center w-full">

      <!-- Content -->
      <img [src]="projectImg3" alt="projectImg1" class=" w-full shadow-2xl md:w-1/2 object-contain h-auto md:h-[500px] rounded-md">
      <div class="space-y-6">
        <div class="flex items-start flex-col gap-2 mb-4">

          <div class="flex items-center px-4 w-fit justify-center py-2 mb-3 rounded-full bg-white shadow-md z-50">
            <img [src]="ivestmentIcon5" alt="location Icon" class="w-5 h-5 mr-2" />
            <p class="text-gray-800">Contacts</p>
          </div>
          <h2 class="text-2xl max-md:text-2xl font-semibold">3. Leveraging of Smart Contracts:</h2>
        </div>

        <div class="space-y-4">
          <!-- Tokenized Real Estate -->
          <div>
            <p class="text-gray-800"><strong>a. Tokenized real estate:</strong> which leverages smart contracts, offers
              a more efficient, transparent, and secure way to invest in commercial real estate.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
