<section class="max-w-7xl mx-auto px-4 py-6">
  <!-- Header Section -->
  <div class="text-center mb-12">
    <div class="flex justify-center items-center mb-12">
      <div class="flex items-center px-4 py-2 rounded-full bg-white shadow-md ">
        <img [src]="locationIcon" alt="location Icon" class="w-5 h-5 mr-2" />
        <p class="text-gray-800">Find Us</p>
      </div>
    </div>
    <h2 class="text-5xl text-center font-bold mb-4">
      Our locations and <br />addresses
    </h2>
    <p class="text-black max-w-2xl mx-auto font-semibold" >
      At <strong>ENVAI</strong>, we strategically position our offices and investments to provide
      maximum accessibility and convenience. Our presence spans key locations,
      allowing us to serve you better and connect you with the most promising
      real estate opportunities.
    </p>
  </div>

  <!-- Locations Grid -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 py-5 gap-6">
    <!-- Istanbul -->
    <div class="bg-gray-50 h-full p-6 rounded-lg shadow-lg">
      <!-- Icon and Heading Row -->
      <div class="flex items-center gap-2">
        <img [src]="pinIcon" alt="Pin Icon" class="w-4 h-4" />
        <h3 class="font-bold text-gray-800">Istanbul</h3>
      </div>

      <!-- Address Content -->
      <p class="text-[12px] max-md:text-sm text-gray-600 mt-2">
        World Trade Center Istanbul<br />
        Ataturk Cad 10/1<br />
        A2 Blok Kat 5 Ofis No: 207<br />
        34149 Bakirkoy-Istanbul<br />
        Turkey
      </p>
    </div>


    <!-- Dubai -->
    <div class="bg-gray-50 h-full p-6 rounded-lg shadow-lg">
      <div class="flex items-center gap-2">
        <img [src]="pinIcon" alt="pin icon" class="w-4 h-4" />
        <h3 class="font-bold">Dubai</h3>
      </div>
      <p class="text-[12px] max-md:text-sm text-gray-600">
        Concord Building A3<br />
        Digital Park Silicon Oasis<br />
        Dubai UAE
      </p>
    </div>

    <!-- Florida -->
    <div class="bg-gray-50 h-full p-6 rounded-lg shadow-lg">
      <div class="flex items-center gap-2">
        <img [src]="pinIcon" alt="pin icon" class="w-4 h-4" />
        <h3 class="font-bold text-gray-800">Florida</h3>
      </div>
      <p class="text-[12px] max-md:text-sm text-gray-600">
        Suite 154 Deerfield<br />
        19401 Florida 33441<br />
        United States Of America
      </p>
    </div>

    <!-- Erzurum -->
    <div class="bg-gray-50 h-full p-6 rounded-lg shadow-lg">
      <div class="flex items-center gap-2">
        <img [src]="pinIcon" alt="pin icon" class="w-4 h-4" />
        <h3 class="font-bold text-gray-800">Erzurum</h3>
      </div>
      <p class="text-[12px] max-md:text-sm text-gray-600">
        Kongre Caddesi<br />
        Namık Iş Merkezi No: 66<br />
        25100 Yakutiye Erzurum<br />
        Turkey
      </p>
    </div>
  </div>


</section>
