<section>
  <div class="max-w-7xl mx-auto py-16 space-y-20 max-md:px-4">
    <!-- Who Are We Section -->
    <div class="flex w-full max-md:flex-col-reverse gap-8 items-center">
      <div class="h-[400px] flex justify-center items-center z-40">
        <img [src]="sideImg3" alt="Modern Interior" class="w-full h-full object-center rounded-lg" />
      </div>
      <div class="space-y-6 z-50 max-w-2xl">
        <div class="flex">
          <div class="flex items-center px-4 py-2 rounded-full shadow-md">
            <img [src]="earthIcon" alt="process Icon" class="w-5 h-5 mr-2" />
            <p class="text-gray-800">Location</p>
          </div>
        </div>
        <h1 class="text-3xl font-bold text-gray-900">What We Do?</h1>
        <p class="text-gray-600 leading-relaxed font-semibold">
          ENVAI has offices and investment real estate projects in Türkiye, the Middle East, Europe, Africa, Asia, and
          the United States.
        </p>
      </div>


    </div>

    <!-- What We Do Section -->

    <div class="flex max-md:flex-col gap-8 items-center">
      <div class="space-y-6 z-50 max-w-2xl">
        <div class="flex">
          <div class="flex items-center px-4 py-2 rounded-full shadow-md">
            <img [src]="purposeIcon" alt="process Icon" class="w-5 h-5 mr-2" />
            <p class="text-gray-800">Purpose</p>
          </div>
        </div>
        <h1 class="text-3xl font-bold text-gray-900">Why We Do It?</h1>
        <p class="text-gray-600 leading-relaxed font-semibold">
          ENVAI strategically creates value by employing its proven real estate investment capabilities and digital
          technology expertise. It optimizes the Alpha return potential by aggregating investment capital from
          individual investors for mutual benefit.
        </p>
      </div>
      <div class="h-[400px] flex justify-center items-center z-40">
        <img [src]="sideImg4" alt="Digital Network" class="w-full h-full object-center rounded-lg" />
      </div>
    </div>
  </div>
</section>
