<section class="bg-dark">
  <div class="max-w-7xl mx-auto my-16 relative">

    <img
    [src]="patternSvg1"
    alt="Pattern 1"
    class="absolute top-2/3 max-md:hidden left-0  w-100 h-100 opacity-75 z-0"
  />
  <img
    [src]="patternSvg2"
    alt="Pattern 2"
    class="absolute  top-32 right-0 w-100 h-100 opacity-75 z-0"
  />
    <!-- Main Content -->
    <div class="max-w-6xl mx-auto px-4 py-12 ">
      <!-- Security Label -->
      <div class="flex justify-center mb-6 ">
        <div
          class="flex items-center px-4 w-fit justify-center py-2 rounded-full bg-white shadow-md z-50"
        >
          <img
            [src]="investmentIcon6"
            alt="location Icon"
            class="w-5 h-5 mr-2 "
          />
          <p class="text-gray-800">Prospectus</p>
        </div>
      </div>
      <div class="text-center flex-col flex justify-center items-center my-10 ">
        <h1 class="text-5xl font-bold text-center max-w-2xl mb-4 z-50">
          ii. Prospectus
        </h1>
        <p class="max-w-2xl z-50">
          A prospectus is typically required when issuing security tokens for
          commercial real estate investments. A prospectus is a formal document
          that provides detailed information about the investment opportunity,
          including:
        </p>
      </div>

      <div class="flex flex-col gap-16 justify-center items-center">
        <!-- Property Tokenization Section -->
        <div class="flex flex-col md:flex-row gap-12 items-center w-full ">
          <!-- Image placeholder -->

          <div class="space-y-6 max-md:text-center z-50">
            <div class="flex items-start flex-col gap-2 mb-4"></div>

            <div class="space-y-4">
              <!-- The issuer -->
              <div>
                <p class="text-gray-800">
                  <strong>a. The issuer:</strong> Who is offering the security
                  tokens?
                </p>
              </div>

              <!-- The investment -->
              <div>
                <p class="text-gray-800">
                  <strong>b. The investment:</strong> What is the underlying
                  asset or property?
                </p>
              </div>

              <!-- The risks -->
              <div>
                <p class="text-gray-800">
                  <strong>c. The risks:</strong> Potential risks associated with
                  the investment.
                </p>
              </div>

              <!-- The financial performance -->
              <div>
                <p class="text-gray-800">
                  <strong>d. The financial performance:</strong> Historical
                  financial data and future projections.
                </p>
              </div>

              <!-- The terms of the offering -->
              <div>
                <p class="text-gray-800">
                  <strong>e. The terms of the offering:</strong> Token price,
                  minimum investment, fees, and other terms.
                </p>
              </div>

              <!-- The use of proceeds -->
              <div>
                <p class="text-gray-800">
                  <strong>f. The use of proceeds:</strong> How will the funds
                  raised from the token sale be used?
                </p>
              </div>
            </div>
          </div>
          <img
            [src]="projectImg1"
            alt="projectImg1"
            class="w-full md:w-1/2 z-50 object-contain h-auto md:h-[400px]"
          />
        </div>
        <div class="max-w-2xl flex justify-center items-center text-center flex-col w-full">
          <p class="font-bold text-center">
            The specific requirements for a prospectus can vary depending on the
            jurisdiction and the type of security token being issued.
          </p>
          <br>
          <p class="text-center">
            However, providing investors with a comprehensive and transparent
            disclosure document is generally considered a best practice. a. Issuers
            can build trust with investors and comply with regulatory requirements
            by providing a detailed prospectus.
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
