<div class="max-w-7xl mx-auto max-md:px-4">

  <img
    [src]="patternSvg1"
    alt="Pattern 1"
    class="absolute top-1/2 left-0 w-100 h-100 opacity-75 z-0"
  />
  <img
    [src]="patternSvg2"
    alt="Pattern 2"
    class="absolute top-32 right-0 w-100 h-100 opacity-75 z-0"
  />



  <!-- Hero Section -->
  <div class="relative h-[400px] w-full mb-12">
    <img
      [src]="bannerImg"
      alt="City skyline view"
      class="w-full h-full object-cover brightness-50 rounded-lg"
    />
    <div class="absolute inset-0 flex items-center justify-center">
      <h1 class="text-5xl font-bold text-white">Projects</h1>
    </div>
  </div>

  <!-- Pattern SVG 3 (Bottom Left) -->
  <img
    [src]="patternSvg3"
    alt="Pattern 3"
    class="absolute -bottom-96 left-0 w-100 h-100 opacity-75"
    />

  <div class="max-w-7xl mx-autopy-8 ">
    <!-- Main Heading -->
    <div class="flex justify-center items-center flex-col my-5">
      <div class="flex items-center px-4 w-fit justify-center py-2 rounded-full shadow-md z-50">
        <img [src]="investmentIcon" alt="location Icon" class="w-5 h-5 mr-2" />
        <p class="text-gray-800">Investments</p>
      </div>
      <div class="text-center flex justify-center items-center flex-col my-5">
        <h1 class="text-5xl max-md:text-3xl font-bold z-50 mb-4">
          Passive Investments in Over<br />
          100 Under-Construction<br />
          Projects
        </h1>
        <p class="text-gray-600 font-semibold max-w-lg">
          Passive investing in our carefully curated under-construction real
          estate projects offers multiple advantages
        </p>
      </div>

      <!-- Main Content -->
      <div class="max-w-7xl mx-auto py-6 flex flex-col z-50 gap-10">
        <!-- Professional Management -->
        <div class="flex gap-10 max-md:flex-col">
          <div class="bg-[#9FF485] rounded-lg p-6">
            <div class="flex items-start gap-4">
              <div class="flex-1">
                <h3 class="font-semibold mb-3 flex items-center gap-2">
                  <div class="p-1 bg-black bg-opacity-20 rounded">
                    <img [src]="layoutIcon1" alt="" class="z-10 w-6 h-6" />
                  </div>
                  Professional Management:
                </h3>
                <div class="space-y-3 text-sm">
                  <p>
                    <span class="font-medium">a. Expertise:</span> Experienced
                    real estate professionals handle all aspects of the
                    development, from acquisition to property management.
                  </p>
                  <p>
                    <span class="font-medium">b. Risk Mitigation:</span> Experts
                    can identify and mitigate potential risks, ensuring a
                    smoother investment journey.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Diversification -->
          <div class="bg-[#F28989] rounded-lg  p-6">
            <div class="flex items-start gap-4">
              <div class="flex-1">
                <h3 class="font-semibold mb-3 flex items-center gap-2">
                  <div class="p-1 bg-black bg-opacity-20 rounded">
                    <img [src]="layoutIcon2" alt="" class="z-10 w-6 h-6" />
                  </div>
                  Diversification:
                </h3>
                <div class="space-y-3 text-sm">
                  <p>
                    <span class="font-medium">a. Spread Risk:</span> Investing
                    in multiple projects across various locations and property
                    types can reduce risk.
                  </p>
                  <p>
                    <span class="font-medium"
                      >b. Portfolio Diversification:</span
                    >
                    Real estate can complement other investment portfolios,
                    providing diversification benefits.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-center items-center">
          <!-- Potential for High Returns -->
          <div class="bg-[#B6C2F5] rounded-lg p-6">
            <div class="flex items-start gap-4">
              <div class="flex-1">
                <h3 class="font-semibold mb-3 flex items-center gap-2">
                  <div class="p-1 bg-black bg-opacity-20 rounded">
                    <img [src]="layoutIcon3" alt="" class="z-10 w-6 h-6" />
                  </div>
                  Potential for High Returns:
                </h3>
                <div class="space-y-3 text-sm">
                  <p>
                    <span class="font-medium">a. Preferred Return:</span> Equal
                    to a 10% annual return.
                  </p>
                  <p>
                    <span class="font-medium">b. Appreciation:</span> As the
                    property value increases, so does your investment.
                  </p>
                  <p>
                    <span class="font-medium">c. Cash Flow:</span> Regular
                    income from rental income or property appreciation.
                  </p>
                  <p>
                    <span class="font-medium">d. Tax Benefits:</span> Potential
                    tax advantages include depreciation deductions and capital
                    gains tax benefits.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex gap-10 max-md:flex-col">
          <!-- Lower Barriers to Entry -->
          <div class="bg-[#F8E378] rounded-lg p-6">
            <div class="flex items-start gap-4">
              <div class="flex-1">
                <h3 class="font-semibold mb-3 flex items-center gap-2">
                  <div class="p-1 bg-black bg-opacity-20 rounded">
                    <img [src]="layoutIcon4" alt="" class="z-10 w-6 h-6" />
                  </div>
                  Lower Barriers to Entry:
                </h3>
                <div class="space-y-3 text-sm">
                  <p>
                    <span class="font-medium">a. Fractional Ownership:</span>
                    Syndications allow you to invest in high-value properties
                    with a smaller investment amount.
                  </p>
                  <p>
                    <span class="font-medium">b. Reduced Costs:</span>
                    Professional management and shared expenses can lower
                    overall costs.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Passive Income -->
          <div class="bg-[#9FF485] rounded-lg p-6">
            <div class="flex items-start gap-4">
              <div class="flex-1">
                <h3 class="font-semibold mb-3 flex items-center gap-2">
                  <div class="p-1 bg-black bg-opacity-20 rounded">
                    <img [src]="layoutIcon5" alt="" class="z-10 w-6 h-6" />
                  </div>
                  Passive Income
                </h3>
                <div class="space-y-3 text-sm">
                  <p>
                    <span class="font-medium">a. Hands-Off Investment:</span>
                    You don't need to manage the property actively as a passive
                    investor.
                  </p>
                  <p>
                    <span class="font-medium">b. Regular Income:</span> Receive
                    regular distributions from rental income and property
                    appreciation equal to a preferred return of 10% on
                    investment.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex justify-center max-md:w-full items-center">
          <!-- Liquidity -->
          <div class="bg-[#A49DEB] rounded-lg md:max-w-md p-6">
            <div class="flex items-start gap-4">
              <div class="flex-1">
                <h3 class="font-semibold mb-3 flex items-center gap-2">
                  <div class="p-1 bg-black bg-opacity-20 rounded">
                    <img [src]="layoutIcon6" alt="" class="z-10 w-6 h-6" />
                  </div>
                  Liquidity:
                </h3>
                <div class="space-y-3 text-sm">
                  <p>
                    <span class="font-medium"
                      >a. Potential Exit Strategies:</span
                    >
                    Some syndications offer opportunities to sell your
                    investment or refinance, providing liquidity.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex justify-center items-center">
          <!-- Important Considerations -->
          <div class="bg-[#F28989] rounded-lg p-6 md:col-span-2">
            <div class="flex items-start gap-4">
              <div class="flex-1">
                <h3 class="font-semibold mb-3 flex items-center gap-2">
                  <div class="p-1 bg-black bg-opacity-20 rounded">
                    <img [src]="layoutIcon7" alt="" class="z-10 w-6 h-6" />
                  </div>
                  Important Considerations:
                </h3>
                <div class="space-y-3 text-sm">
                  <p>
                    <span class="font-medium">a. Due Diligence:</span> ENVAI has
                    the syndicator know-how, project selection expertise, and
                    asset management pedigree to generate Alpha-level investment
                    returns.
                  </p>
                  <p>
                    <span class="font-medium">b. Risk Tolerance:</span> ENVAI
                    understands real estate investment risks, including market
                    fluctuations and potential delays.
                  </p>
                  <p>
                    <span class="font-medium">c. Regulatory Compliance:</span>
                    ENVAI ensures the syndication process adheres to all
                    relevant regulations and securities laws.
                  </p>
                  <p>
                    <span class="font-medium">d. Diversification:</span> ENVAI
                    allows investors to spread investments across multiple
                    projects to mitigate risk.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img
  [src]="patternSvg4"
  alt="Pattern 4"
  class="absolute -bottom-96 right-0 w-100 h-100 opacity-75 max-md:hidden"
/>

</div>
