<aside
  class="relative max-w-7xl max-md:mx-4 mx-auto flex justify-center items-center bg-cover bg-center my-5 rounded-lg"
  [style.background-image]="'url(' + joinEnvaiImg + ')'">
  <div class="absolute inset-0 bg-black opacity-50 rounded-lg"></div>
  <!-- Optional dark overlay for better text visibility -->

  <div class="relative container px-4 py-32 text-center text-white">
    <h1 class="text-5xl font-bold mb-4">Join the ENVAI<br> family now</h1>
    <p class="text-xl mb-6">Invest in over 100 equities for real time<br> insights and tailored reporting</p>

    <button class="bg-white text-primary px-8 py-3 rounded-lg text-lg font-medium hover:bg-gray-300 transition-colors"
      [routerLink]="['contact-us']"
    >
      Get Started
    </button>
  </div>
</aside>
