<section class="max-w-7xl mx-auto">
  <!-- Hero Section -->
  <div class="relative h-[400px] w-full mb-12">
    <img
      [src]="bannerImg"
      alt="City skyline view"
      class="w-full h-full object-cover brightness-50 rounded-lg"
    />
    <div class="absolute inset-0 flex items-center justify-center">
      <h1 class="text-5xl font-bold text-white">Tokens</h1>
    </div>
  </div>
  <div class="flex justify-center items-center text-center py-6">
    <p class="max-w-3xl">
      a Investing in a pool of commercial real estate properties using security tokens involves purchasing digital tokens representing fractional ownership of a portfolio of commercial real estate assets. These tokens are issued through a Security Token Offering (STO) and represent a financial asset backed by real estate.
    </p>
  </div>
</section>
