<section class="relative py-16 px-4 overflow-hidden">
  <img [src]="patternSvg1" alt="Pattern 1" class="absolute top-2/3 max-md:hidden left-0 w-100 h-100 opacity-75 z-0" />
  <img [src]="patternSvg2" alt="Pattern 2" class="absolute top-32 right-0 w-100 h-100 opacity-75 z-0" />
  <img [src]="patternSvg3" alt="Pattern 2" class="absolute top-0 left-0 w-100 h-100 opacity-75 z-0" />

  <!-- Content -->
  <div class="max-w-6xl mx-auto relative">
    <img [src]="patternSvg1" alt="Pattern 2" class="absolute bottom-40 right-0 w-100 h-100 opacity-75 z-0" />
    <img [src]="patternSvg4" alt="Pattern 2" class="absolute bottom-1/2 right-0 w-100 h-100 opacity-75 z-0" />
    <div class="text-center flex flex-col justify-center items-center mb-12 z-50">
      <div class="flex items-center justify-center w-fit px-4 py-2 my-3 rounded-full shadow-md z-50">
        <img [src]="managementIcon" alt="process Icon" class="w-5 h-5 mr-2" />
        <p class="text-gray-800 z-50">Purpose</p>
      </div>
      <h2 class="text-5xl font-bold mb-4 z-50">Management Team</h2>
      <p class="text-gray-600 z-50">
        Meet our management team at the helm of ENVAI
      </p>
    </div>

    <div class="grid md:grid-cols-2 gap-8">
      <!-- Team Member 1 -->
      <div class="group relative overflow-hidden rounded-lg w-fit">
        <div class="overflow-hidden w-fit rounded-lg">
          <img [src]="personImg1" alt="Tino Herold" class="h-3/4 w-3/4 z-50 object-contain" />
        </div>
        <div class="mt-4 z-50">
          <h3 class="text-xl font-semibold">Tino Herold</h3>
          <p class="text-gray-600">Position here</p>
          <p class="mt-2 text-sm text-gray-500">A little portfolio view</p>
        </div>
      </div>

      <!-- Team Member 2 -->
      <div class="group relative overflow-hidden rounded-lg">
        <div class="overflow-hidden rounded-lg">
          <img [src]="personImg2" alt="Andreas Maass" class="h-3/4 w-3/4 z-50 object-contain" />
        </div>
        <div class="mt-4">
          <h3 class="text-xl font-semibold">Andreas Maass</h3>
          <p class="text-gray-600">Position here</p>
          <p class="mt-2 text-sm text-gray-500">A little portfolio view</p>
        </div>
      </div>

      <!-- Team Member 3 -->
      <div class="group relative overflow-hidden rounded-lg">
        <div class="overflow-hidden rounded-lg">
          <img [src]="personImg2" alt="Tino Herold" class="h-3/4 w-3/4 object-contain" />
        </div>
        <div class="mt-4">
          <h3 class="text-xl font-semibold">David Grazn</h3>
          <p class="text-gray-600">Position here</p>
          <p class="mt-2 text-sm text-gray-500">A little portfolio view</p>
        </div>
      </div>

      <!-- Team Member 4 -->
      <div class="group relative overflow-hidden rounded-lg">
        <div class="overflow-hidden rounded-lg">
          <img [src]="personImg4" alt="Andreas Maass" class="h-3/4 w-3/4 object-contain" />
        </div>
        <div class="mt-4">
          <h3 class="text-xl font-semibold">David Nightingale</h3>
          <p class="text-gray-600">Position here</p>
          <p class="mt-2 text-sm text-gray-500">A little portfolio view</p>
        </div>
      </div>
      <!-- <div class="group relative overflow-hidden rounded-lg">
        <div class="overflow-hidden rounded-lg">
          <img
            [src]="personImg1"
            alt="Andreas Maass"
            class="h-3/4 w-3/4 object-contain"
          />
        </div>
        <div class="mt-4">
          <h3 class="text-xl font-semibold">Andreas Maass</h3>
          <p class="text-gray-600">Position here</p>
          <p class="mt-2 text-sm text-gray-500">A little portfolio view</p>
        </div>
      </div> -->
    </div>
  </div>
</section>
