<section class="relative py-16 px-4 overflow-hidden">
  <img [src]="patternSvg1" alt="Pattern 1" class="absolute top-2/3 max-md:hidden left-0 w-100 h-100 opacity-75 z-0" />
  <img [src]="patternSvg2" alt="Pattern 2" class="absolute top-32 right-0 w-100 h-100 opacity-75 z-0" />
  <img [src]="patternSvg3" alt="Pattern 2" class="absolute top-0 left-0 w-100 h-100 opacity-75 z-0" />

  <!-- Content -->
  <div class="max-w-6xl mx-auto relative">
    <img [src]="patternSvg1" alt="Pattern 2" class="absolute bottom-40 right-0 w-100 h-100 opacity-75 z-0" />
    <img [src]="patternSvg4" alt="Pattern 2" class="absolute bottom-1/2 right-0 w-100 h-100 opacity-75 z-0" />
    <div class="text-center flex flex-col justify-center items-center mb-12 z-50">
      <!-- <div class="flex items-center justify-center w-fit px-4 py-2 my-3 rounded-full shadow-md z-50">
        <img [src]="managementIcon" alt="process Icon" class="w-5 h-5 mr-2" />
        <p class="text-gray-800 z-50">Purpose</p>
      </div> -->
      <h2 class="text-5xl font-bold mb-4 z-50">Management Team</h2>
      <p class="text-gray-600 z-50">
        Meet our management team at the helm of ENVAI
      </p>
    </div>

    <div class="grid md:grid-cols-2 gap-8">
      <!-- Team Member 1 -->
      <div class="group relative overflow-hidden rounded-lg w-fit">
        <div class="overflow-hidden w-fit rounded-lg">
          <img [src]="personImg1" alt="Tino Herold" class="h-3/4 w-3/4 z-50 object-contain" />
        </div>
        <div class="mt-4 z-50">
          <h3 class="text-xl font-semibold">Tino Herold</h3>
          <p class="text-gray-600">Technology Affairs</p>
          <p class="mt-2 text-sm text-gray-500" style="text-align: justify;">Tino Herold is a seasoned international
            business professional with a
            diverse background in finance, real estate, and renewable energy. Born and initially educated in
            Karl-Marx-Stadt (now Chemnitz), Germany, Tino's career has spanned multiple industries and geographies,
            reflecting his adaptability and deep expertise.</p>
          <p class="mt-2 text-sm text-gray-500" style="text-align: justify;">Tino began his career with a strong
            educational foundation, completing
            vocational training in Mechanics for Data Processing Machines at ASCOTA AG, followed by engineering studies
            at Chemnitz University. He later supplemented this with bank studies at the IHK/Deutschen Bank AG, equipping
            him with a unique blend of technical and financial knowledge.</p>
          <p class="mt-2 text-sm text-gray-500" style="text-align: justify;">His professional journey commenced with
            roles at Deutsche Bank AG and
            CETAG AG, where he served as Branch Manager and Vice President of the Board, respectively. Between 2003 and
            2008, Tino specialized in real estate finance, holding positions at B2B Creditweb Deutschland GmbH / GMAC
            RFC and B/F/S GmbH Berlin. His international career took off in 2009 when he became Sales Director at New
            York Community Bank.</p>
          <p class="mt-2 text-sm text-gray-500" style="text-align: justify;">Since 2010, Tino has been at the helm of
            iSAP Solutions, serving as
            Director across multiple regions, including London, Dubai, Russia, Ukraine, and Toronto. His leadership has
            been instrumental in the company's growth and expansion into diverse markets. In 2020, he embarked on a new
            venture, "Falconic," demonstrating his entrepreneurial spirit and innovative mindset.</p>
          <p class="mt-2 text-sm text-gray-500" style="text-align: justify;">Tino's linguistic prowess—he is fluent in
            English, proficient in
            Russian, and has a good grasp of Italian and basic French and Arabic—has significantly contributed to his
            success in international business. His specialized knowledge in banking and payment systems, trade finance,
            the renewable energy sector, and management and accounting in SMEs, coupled with his intercultural knowledge
            of the MENA region, makes him a valuable asset in any multinational setting.</p>
          <p class="mt-2 text-sm text-gray-500" style="text-align: justify;">Throughout his career, Tino Herold has
            demonstrated exceptional
            leadership, adaptability, and a commitment to driving business growth. His diverse experiences and skills
            make him a respected figure in the international business community.</p>
        </div>
      </div>

      <!-- Team Member 2 -->
      <div class="group relative overflow-hidden rounded-lg">
        <div class="overflow-hidden rounded-lg">
          <img [src]="personImg2" alt="Andreas Maass" class="h-3/4 w-3/4 z-50 object-contain" />
        </div>
        <div class="mt-4">
          <h3 class="text-xl font-semibold">Prof. Andreas Maass</h3>
          <p class="text-gray-600">Legal Affairs</p>
          <p class="mt-2 text-sm text-gray-500" style="text-align: justify;">Prof. Andreas Maass is a distinguished
            legal professional and academic with an impressive career spanning over three decades. Born and raised in
            Germany, his journey is marked by a commitment to excellence, service, and education. </p>
          <p class="mt-2 text-sm text-gray-500" style="text-align: justify;">Andreas began his academic pursuits at the
            Städtisches Gymnasium Sundern, where he completed his Abitur in 1985. Following his high school education,
            he served in the German Federal Armed Forces from 1985 to 1987, rising to the rank of lieutenant in the
            reserve. His legal education commenced in 1987 at the University of Münster, culminating in the first state
            examination in law at the Higher Regional Court of Hamm in 1993. </p>
          <p class="mt-2 text-sm text-gray-500" style="text-align: justify;">Andreas continued his legal training with a
            clerkship at the Regional Court in Erfurt from 1993 to 1995, successfully completing his second state law
            examination at the Thuringia Judicial Examination Office in 1995. Since 1996, he has been a practicing
            lawyer, bringing his extensive knowledge and experience to various legal arenas. </p>
          <p class="mt-2 text-sm text-gray-500" style="text-align: justify;">In addition to his legal practice, Andreas
            has made significant contributions to the academic world. Since 2008, he has served as the Head of the Legal
            Department at Perfect Timing Holding, showcasing his expertise in corporate law and governance. In 2021, he
            assumed the role of Vice President at ATAFOM University, further cementing his commitment to education and
            academic leadership. </p>
          <p class="mt-2 text-sm text-gray-500" style="text-align: justify;">Prof. Andreas Maass is known for his
            dedication to legal education and his ability to bridge the gap between academic theory and practical
            application. His career is a testament to his unwavering commitment to the legal profession and his passion
            for sharing knowledge with future generations of legal professionals. </p>
        </div>
      </div>

      <!-- Team Member 3 -->
      <div class="group relative overflow-hidden rounded-lg">
        <div class="overflow-hidden rounded-lg">
          <img [src]="personImg3" alt="Tino Herold" class="h-3/4 w-3/4 object-contain" />
        </div>
        <div class="mt-4">
          <h3 class="text-xl font-semibold">Prof. David Grzan</h3>
          <p class="text-gray-600">Investment Affairs</p>
          <p class="mt-2 text-sm text-gray-500" style="text-align: justify;">David Grzan, MBA/MSFS, is an accomplished
            Wall Street executive with over 25 years of experience in investment banking, private equity, commercial
            banking, fintech, and commercial real estate. David is actively packaging project sponsors and sourcing
            alternative capital to fund significant humanitarian and other projects, including energy, infrastructure,
            residential and commercial real estate, mining, transportation, telecommunications, healthcare, utilities,
            digital assets, and commodities worldwide. </p>
          <p class="mt-2 text-sm text-gray-500" style="text-align: justify;">David has held numerous C-suite and board
            positions, including roles at Beacon Capital Management Services, Remada Company, Equity Bank, Rochester
            Medical Technologies, Carlson CRE Group, New Horizon Kids Quest, and PreIPO Corporation. He has a proven
            track record in leading strategic planning, business development, and financial management initiatives.
            Notably, he played a key role in Equity Bank's turnaround and received recognition from the FDIC for his
            contributions.
          </p>
          <p class="mt-2 text-sm text-gray-500" style="text-align: justify;">David's expertise encompasses financial
            engineering, capital sourcing, and deal structuring, which enables him to enhance businesses' bankability
            and enterprise value. He has secured over $2 billion in off-balance-sheet financing for Fortune 200
            companies, highlighting his proficiency in complex financial transactions. Additionally, he has served as a
            fractional C-suite executive, providing strategic guidance to for-profit and non-profit organizations. He
            has also held FINRA-registered licenses, including Series 7, 63, and 66. </p>
          <p class="mt-2 text-sm text-gray-500" style="text-align: justify;">A strong advocate for financial education,
            David serves as the Dean and Professor at ATAFOM University International, where he inspires and empowers
            the next generation of financial professionals. Additionally, he is a member of the Forbes Finance Council.
            He holds an MBA in Banking from the University of London (SOAS), an MSFS from the Denver School of Financial
            Planning, and a BA in Business Administration from Long Island University. His motto, "Dictum Meum Pactum—My
            Word Is My Bond," highlights his commitment to integrity and excellence.</p>
        </div>
      </div>

      <!-- Team Member 4 -->
      <div class="group relative overflow-hidden rounded-lg">
        <div class="overflow-hidden rounded-lg">
          <img [src]="personImg4" alt="Andreas Maass" class="h-3/4 w-3/4 object-contain" />
        </div>
        <div class="mt-4">
          <h3 class="text-xl font-semibold">Prof. Dr. David Nightingale</h3>
          <p class="text-gray-600">Compliance Affairs</p>
          <p class="mt-2 text-sm text-gray-500" style="text-align: justify;">Dr. David Thomas Nightingale is an
            accomplished executive with a stellar
            career traversing the finance, petrochemical, oil, gas, and banking industries. With a solid educational
            foundation from esteemed institutions such as Liverpool University, Durham/Teesside University, and Syracuse
            University, culminating in a Ph.D. in International Finance and Economics from the United Nations Academy,
            David has continually pioneered innovative solutions in his fields of expertise.</p>
          <p class="mt-2 text-sm text-gray-500" style="text-align: justify;">His professional journey commenced in
            Houston, Texas, where he revolutionized multi-dimensional modelling paradigms and machine learning in
            supercomputer MPP Geology analytical AI platforms within the petrochemical financial services sector.
            David's acumen led him to advise several US government agencies, including the Senate Intelligence Oversight
            Committee and the US State Department, on critical IT and satellite remote sensing projects, notably
            contributing to the Pan Am 103 investigation.</p>
          <p class="mt-2 text-sm text-gray-500" style="text-align: justify;">In the banking sector, David has held
            pivotal roles at prominent institutions like the Royal Bank of Scotland, BBVA Bank, and ING Bank. He has
            spearheaded initiatives in financial risk modelling, compliance, and data architecture, implementing
            cutting-edge stochastic modelling techniques and heuristic bond valuation algorithms. His work has
            significantly influenced global regulatory frameworks such as Basel III, IFRS9, and GDPR, enhancing capital
            adequacy and risk evaluation procedures.</p>
          <p class="mt-2 text-sm text-gray-500" style="text-align: justify;">David's expertise extends to advising
            Fortune 500 companies and top global banks, where he has directed projects of national security importance
            and developed advanced financial models for AML and fraud detection. His recent endeavors include consulting
            on energy and green resource analysis, and banking and finance business intelligence, incorporating MIFID,
            Basel IV, and blockchain/crypto applications. David's illustrious career and unparalleled expertise have
            earned him profound respect throughout the global financial community.</p>
        </div>
      </div>
      <!-- <div class="group relative overflow-hidden rounded-lg">
        <div class="overflow-hidden rounded-lg">
          <img
            [src]="personImg1"
            alt="Andreas Maass"
            class="h-3/4 w-3/4 object-contain"
          />
        </div>
        <div class="mt-4">
          <h3 class="text-xl font-semibold">Andreas Maass</h3>
          <p class="text-gray-600">Position here</p>
          <p class="mt-2 text-sm text-gray-500">A little portfolio view</p>
        </div>
      </div> -->
    </div>
  </div>
</section>
