<section class="max-w-7xl mx-auto px-4 py-6">
  <!-- Header -->
  <div class="text-center mb-4">
    <div
      class="inline-flex items-center justify-center px-4 py-2 rounded-full bg-white shadow-md mb-6"
    >
      <span class="flex items-center gap-2">
        <img
          [src]="statementImg"
          alt="project icon"
          class="rounded-lg shadow-lg max-w-md w-full grayscale"
        />
        Projects
      </span>
    </div>
    <h2 class="text-4xl font-bold mb-6">Invest in our projects below</h2>
    <p class="max-w-3xl mx-auto text-gray-600">
      Here, you can browse and select from over 100 short-term, secure and
      lucrative ENVAI real estate projects backed by assets for your safe
      investments.
    </p>
  </div>

  <!-- Projects Grid -->

  <div class="grid grid-cols-1 md:grid-cols-4 py-5 gap-8">
    <!-- Example of a single project card -->
    <app-project-card
      imageUrl="assets/projects/project-img1.png"
      name="Project Alpha"
      description="Invest in a cutting-edge real estate project."
    ></app-project-card>

    <app-project-card
      imageUrl="assets/projects/project-img2.png"
      name="Project Beta"
      description="Join an innovative project that redefines luxury living."
    ></app-project-card>

    <app-project-card
      imageUrl="assets/projects/project-img3.png"
      name="Project Gamma"
      description="Experience sustainable and smart living spaces."
    ></app-project-card>

    <app-project-card
      imageUrl="assets/projects/project-img4.png"
      name="Project Delta"
      description="Invest in a forward-thinking tech-driven real estate project."
    ></app-project-card>

    <app-project-card
      imageUrl="assets/projects/project-img5.png"
      name="Project Epsilon"
      description="Be part of a groundbreaking eco-friendly community."
    ></app-project-card>

    <app-project-card
      imageUrl="assets/projects/project-img6.png"
      name="Project Eta"
      description="Join a cutting-edge mixed-use development in the heart of the city."
    ></app-project-card>

    <app-project-card
      imageUrl="assets/projects/project-img7.png"
      name="Project Theta"
      description="Invest in a modern, mixed-use building with smart living amenities."
    ></app-project-card>

    <app-project-card
      imageUrl="assets/projects/project-img8.png"
      name="Project Iota"
      description="Become part of a vibrant, sustainable community development."
    ></app-project-card>
  </div>


  <!-- View All Button -->
  <div class="flex justify-center my-10">
    <button
      class="bg-blue-600 text-white px-8 py-3 rounded-md hover:bg-blue-700 transition-colors"
      [routerLink]="'projects'"
      >
      View All
    </button>
  </div>
</section>
