@tailwind base;
@tailwind components;
@tailwind utilities;


/* Use Raleway for general text and subheadings */
body, p, span, li, ul {
  font-family: 'Raleway', sans-serif;
}

/* Use Space Grotesk for main headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700; /* Adjust weight as needed */
}


@media only screen and (max-width: 1322px) {
  #gt_float_wrapper {
    top: auto !important;
    bottom: 16px !important;

  }
}
